<br><br>
<h4>Account details: </h4>
<br><br>
<div class="row">
  <div class="col-xs-7">
    <table class="table">
      <tbody>
        <tr>
          <td> <h5>Name: </h5> </td>
          <td> <h5><%= "#{@user.fname} #{@user.lname}"  %><br></h5> </td>
        </tr>
        <tr>
          <td> <h5>Email: </h5> </td>
          <td> <h5><%= @user.email %><br></h5> </td>
        </tr>
        <tr>
          <td> <h5>Telephone: </h5> </td>
          <td> <h5><%= @user.telephone %><br></h5> </td>
        </tr>
        <tr>
          <td> <h5>Address: </h5> </td>
          <td> <h5><%= @user.address %><br></h5> </td>
        </tr>
        
      </tbody>
      <tfooter>
      <tr>
      <td> <%= link_to 'Edit details', edit_user_path(@user), class:"link"%></td>
      </tr>
      </tfooter>
    </table>
    <br>
     <%= link_to 'Delete your account', user_path(@user), class:"link link-danger active",
                                method: :delete,data: { confirm: 'Are you sure?' } %>
  </div>
</div>

<br> <br>
<div>
<%= link_to 'Back to Home Page', root_path, class:"btn btn-lg btn-primary" %>
</div>
