<br>
<% if !@confirmedorder.order_items.empty?%>

<br>
<h4>Order details</h4>

<table class="table table-bordered table-hover ">
  <thead>
      <tr>
        <th>Book Name</th>
        <th>Unit Price (USD)</th>
        <th>Quantity</th>
        <th>Total(USD)</th>
      </tr>
  </thead>
  <tbody>
    <tr>
     
      <% if not @confirmedorder.order_items.nil?%>
      <% @confirmedorder.order_items.each do |oi| %>
      <% @book = Book.find_by(id: oi.book_id) %>
      <td>  <%= "#{@book.name.capitalize}"%> </td>
      <td>  <%= "#{oi.cost}"%> </td>
      <td> <%= "#{oi.quantity}"%> </td>
      <td id=<%= oi.id %> > <%= "#{oi.total_cost}"%> </td>
     
    </tr>
  <% end %>
  <% end%>  



  </tbody>
  <tfoot>
      <tr>
        <td colspan="3">Total</td>
        <td id="carttotalcost"><%= "#{@confirmedorder.total_cost}"%> </td>
      </tr>
  </tfoot>

</table>
<% end %>






