

<%= render 'layouts/messages'%>

<%if !@orders.nil? %>

<% if !@orders.empty?%>
<br>
<% else %>
<br>
<h3> Your cart is empty, <%= link_to "Contiue Shopping", books_path%> </h3>
<br><br><br><br>
<div class="row">
    <div class="col-xs-11">
      <% toprated = Book.all.select { |m| m.rating == 5 } %>
       
      <%if !toprated.nil?%>
      <% interestingbook = toprated.first(6)%>
      <% if !interestingbook.empty? %>
      <h4>Top Rated books </h4>
      <br>
      <table class="table">
      <td> <%= render 'welcome/book', obj: interestingbook%> </td>
      </table>
      <% end %>
      <% end %>
    </div>
</div>
<% end %>
  
  <% @cartorder = @orders.last %>
  <%if !@cartorder.nil?%>
  <% if !@cartorder.cart?%>
  <% @cartorder=nil%>
  <% end %>
  <% end %>

<% @oldorders = @orders.where(cart: false) %>
<% end %>

<% if !@cartorder.nil?%>
<div class="row">
  <div class="col-xs-8 ">
    <div class="well">
    
      <div>
       
        <%= link_to "Shopping Cart", order_path(@cartorder.id)%>
        
        <div class="book-number">
           Number of Items: <%=@cartorder.order_items.count %>
          </div>
          <div class="order-actions">
          <% if can? :destroy, @cartorder %>
            <%= link_to 'Delete Order', order_path(@cartorder), class:"btn btn-sm btn-danger",
                                method: :delete,data: { confirm: 'Are you sure?' } %>
          </div>
          <% end %>
       
      </div>
    </div>
  </div>
</div>
<hr width="66%" align="left" class="style13">
<% end %>  





<% if not @oldorders.empty?%>
<h1> Old Orders: </h1> <br>
   <% @oldorders.each do |o| %>
    <div class="row">
      <div class="col-xs-8 ">
        <div class="well">
          <%= link_to "Order number: #{o.id}", order_path(o.id)%>
          
          <div class="book-number">
           Number of Items: <%=o.order_items.count %>
          </div>
          <div class="order-actions">
          <% if can? :destroy, o %>
            <%= link_to 'Delete Order', order_path(o), class:"btn btn-sm btn-danger",
                                method: :delete,data: { confirm: 'Are you sure?' } %>
          </div>
          <% end %>
        </div>
      </div>
    </div>
  <% end %>
<% end %>
