

<%= render 'layouts/messages'%>

<% if @order.cart? %>
<h1>Shopping Cart </h1>
<div  id= "order_items_template"> <%= render 'cart_items'%>  </div>
<% else %>
<h1> <%= "Order number: #{@order.id}"%></h1>
<h5> Date: <%= @order.created_at %> </h5>
<div  id= "order_items_template"> <%= render 'order_items'%>  </div>
<% end %>

