<%= render 'layouts/messages'%>
<% if not obj.nil?%>


 <div class="row">
 <% obj.each do |book| %>
    <%# <div class="row"> %>
      <div class="col-xs-3">
        <div class="well">
          <div class="book-image">
             <%= image_tag(book.image.url, alt: 'Image',size: '140x200') if book.image? %>
          </div>
          <div class="book-title">
            <%=link_to book.name , book_path(book)%>
          </div>
          <div class="book-body">
          <div class="book-meta-details">
            <small> Author: <%= book.author %> <br>
                    Price: $ <%= book.price %>
            </small>
            
          </div>
          </div>            
          
          <%if logged_in?  %> 
          <div class="book-actions">
          <%= link_to "Add to Cart", order_items_path(book_id: book.id, quantity: 1, cost: book.price),class:"btn btn-sm btn-info", method: :post %>
          <% if can? :destroy, @book %>
            <%= link_to 'Edit', edit_book_path(book), class:"btn btn-sm btn-success" %>
            <%= link_to 'Destroy', book_path(book), class:"btn btn-sm btn-danger",
                                method: :delete,data: { confirm: 'Are you sure?' } %>
          <% end %>
          </div>   
          <%end%>                     
        </div>
        
      </div>  
    <%# </div>   %>
  <% end %>
  </div>  
<% end %>


